@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: beige">
<div class="text-center">
    
    <div style=" background-color: grey; border-radius: 15px; opacity: 5; text-align: center; margin: auto;">
<h1>Welcome to</h1><br/>
<h1>The</h1><br/>
<h1>Contract Monthly Claims System</h1>
    </div>

    <div class="mt-4">
        <a asp-controller="Claim" asp-action="SubmitClaim" class="btn btn-info mr-2 ">Lecturer</a>
        <a asp-controller="Claim" asp-action="VerifyClaim" class="btn btn-info">Programme Coordinator</a>
            <a asp-controller="Claim" asp-action="TrackClaim" class="btn btn-info">Track Claims</a>
    </div>
</div>
</body>