<body style="background-color:beige">
<div class="container mt-5">
    <div >
        <h4>Claim Submitted Successfully!</h4>
        <hr>        
    </div>
    <a asp-action="SubmitClaim" class="btn btn-info">Submit Another Claim</a>
</div>
<div>
    <p>Return to the home page to track your claim.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-info">Return to home page</a>
    </div>
</body>